<main class="detalle">
  <div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Grupos de Investigación</span></div>
  <div *ngIf="researchGroup" class="container-fluid main-container">
    <div class="container-fluid">
      <div class="row" [hidden]="showInput">
        <h2>Grupo de Investigación {{researchGroup.name}} </h2><br>
        <div class="col-sm-5 col-md-5">
          <label for="description">Descripción</label>
          <div class="field">
            <h4>{{ researchGroup.description }}</h4>
          </div>
          <label for="strategic_focus">Enfoque estratégico</label>
          <div class="field">
            <h4>{{ researchGroup.strategic_focus }}</h4>
          </div>
          <label for="research_priorities">Prioridades de investigación</label>
          <div class="field">
            <h4>{{ researchGroup.research_priorities }}</h4>
          </div>
        </div>
        <div class="col-sm-5 col-md-5">
          <label for="foundation_date">Fecha de fundación</label>
          <div class="field">
            <h4>{{ researchGroup.foundation_date }}</h4>
          </div>
          <label for="classification">Clasificación</label>
          <div class="field">
            <h4>{{ researchGroup.classification }}</h4>
          </div>
          <label for="date_classification">Fecha de clasificación</label>
          <div class="field">
            <h4>{{ researchGroup.date_classification }}</h4>
          </div>
          <label for="Url">url</label>
          <div class="field">
            <h4>{{ researchGroup.url }}</h4>
          </div>
        </div>
          <label for="researchGroup.members">Miembros</label>
          <div *ngFor="let member of researchGroup.members" class="field">
            <a href="details(member.user.id)">{{member.user.full_name}}</a>
            <h4>{{member.user.id}}</h4>
            <app-crud [columns]="headers" [keys]="keys" [rows]="users" (onUpdate)="update($event)" (onDelete)="delete($event)" (onDetails)="details($event)"></app-crud>
            <button class="btn btn-primary btn-xs" (click)="details(30)" (onDetails)="details($event)">
              <span class="glyphicon glyphicon-search"></span> Details</button>
            <button class="btn btn-primary btn-xs" (click)="update(30)">
                <span class="glyphicon glyphicon-edit"></span>Editar</button>
          </div>
      </div>
    </div>
      <button class="btn btn-primary" (click)="toggleShowInput()">Editar</button>
      <button class="btn btn-primary" routerLink="/research-list" role="button">Volver</button>
      <div class="row" [hidden]="!showInput">
        <form (ngSubmit)="onSubmit()">
          <div class="col-sm-5 col-md-5">
            <div class="row">
              <div class="col-md-6">
                <label for="inputName">Nombre</label>
                <input id="inputName" type="text" class="form-control" required [(ngModel)]="researchGroup.name" name="Name" />
              </div>
              <div class="col-md-6">
                <label for="inputDescription">Descripción</label>
                <input id="inputDescription" type="text" class="form-control" required [(ngModel)]="researchGroup.description" name="description" />
              </div>
              <label for="inputStrategicFocus">Enfoque Estratégico</label>
              <textarea id="inputStrategicFocus" type="text" class="form-control" required [(ngModel)]="researchGroup.strategic_focus" name="strategic_focus" rows="3"></textarea>
              <label for="inputResearchPriorities">Prioridades de Investigación</label>
              <textarea id="inputResearchPriorities" type="text" class="form-control" required [(ngModel)]="researchGroup.research_priorities" name="research_priorities" rows="3"></textarea>
              <div class="col-md-6">
                <label for="inputFoundationDate">Fecha de Fundación</label>
                <input id="inputFoundationDate" type="text" class="form-control" required [(ngModel)]="researchGroup.foundation_date" name="foundation_date">
              </div>
              <div class="col-md-6">
                <label for="inputClassification">Clasificación</label>
                <input id="inputClassification" type="text" class="form-control" required [(ngModel)]="researchGroup.classification" name="classification" >
              </div>
              <div class="col-md-6">
                <label for="inputDateClassification">Fecha de Clasificación</label>
                <input id="inputDateClassification" type="text" class="form-control" required [(ngModel)]="researchGroup.date_classification" name="date_classification">
              </div>
              <div class="col-md-6">
                <label for="inputUrl">Url</label>
                <input id="inputUrl" type="text" class="form-control" required [(ngModel)]="researchGroup.url" name="url">
              </div>
            </div>
            <br><br>
            <div class="btn-group">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-danger" (click)="toggleShowInput()">Cancelar</button>
            </div>
          </div>
          </form>
      </div>
    </div>
</main>
