<main class="detalle">
  <div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Grupos de Investigación</span></div>
  <div *ngIf="researchGroup" class="container-fluid main-container">
    <div class="container-fluid">
      <div class="row container-fluid" [hidden]="showInput">
        <br><h2>Grupo de Investigación {{researchGroup.name}} </h2><br>
        <div class="container-fluid">
          <div class="col-sm-8 col-md-8">
            <div class="media">
              <div class="media-left media-middle">
                  <img src="{{ researchGroup.photo }}" class="media-object" style="width:250px; height:250px;">
              </div>

              <div class="media-body">
                <h4><b>Strategic Focus:</b></h4>
                {{ researchGroup.strategic_focus }}
                <h4><b>Priorities:</b></h4>
                {{ researchGroup.research_priorities }}
                <h4><b>Foundation date:</b></h4>
                {{ researchGroup.foundation_date }}
                <h4><b>Classification:</b></h4>
                {{ researchGroup.classification }}
                <h4><b>Classification date:</b></h4>
                {{ researchGroup.date_classification }}
                <h4><b>URL:</b></h4>
                <a href="{{ researchGroup.url }}">{{ researchGroup.url }}</a>
              </div>
            </div><br>

            <h3><b>Descripción</b></h3>
            <div class="field">
              <h4>{{ researchGroup.description }}</h4>
            </div>
          </div>

          <div class="col-sm-4 col-md-4">
            <button type="submit" class="btn btn-primary" *ngIf="(isLogged | async) && !(isMember || isOwner || isRequester)" (click)="requestJoin()">Solicitar unirse</button>
            <button type="submit" class="btn btn-primary" *ngIf="(isLogged | async) && isRequester" (click)="cancelJoinRequest()">Cancelar solicitud</button>
            <!--<button type="submit" class="btn btn-danger" *ngIf="(isLogged | async) && isMember" (click)="leave()">Abandonar grupo</button>-->
            <span class="glyphicon glyphicon-plus" style="font-size: 1.8rem" *ngIf="isOwner" data-toggle="modal" data-target="#modal-add-users"></span>
            <div class="panel panel-default" *ngIf="isOwner && filterRequested().length">
              <div class="panel-heading" style="background: #555;color: white;">
                <div class="row">
                  <div class="col-sm-1 col-md-1">
                    <span class="glyphicon glyphicon-user" style="font-size: 1.8rem"></span>
                  </div>
                  <div class="col-sm-10 col-md-10">
                    <h3>Solicitudes de unión</h3>
                  </div>
                </div>
              </div>
              <div class="panel-body" style="overflow-y: auto; height: 200px; ">
                <div *ngFor="let user of filterRequested()" class="field">
                  <div class=" media">
                    <div class="media-left media-middle">
                      <img src="https://pbs.twimg.com/media/C575StHVAAA1B9L.jpg" class="media-object" style="width:70px; height:70px;">
                    </div>
                    <div class="media-body">
                      <h4>{{user.full_name}}</h4>
                      <a (click)="viewProfile(user.id)">Ver perfil</a>
                      <span class="accept glyphicon glyphicon-ok" (click)="acceptJoinRequest(user.id)"></span>
                      <span class="reject glyphicon glyphicon-remove" (click)="rejectJoinRequest(user.id)"></span>
                    </div>
                  </div>
                  <hr style="border:1px dotted black;">
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" style="background: #555;color: white;">
                <div class="row">
                  <div class="col-sm-1 col-md-1">
                    <span class="glyphicon glyphicon-user" style="font-size: 1.8rem"></span>
                  </div>
                  <div class="col-sm-10 col-md-10">
                    <h3>Líder(es)</h3>
                  </div>
                </div>
              </div>
              <div class="panel-body" style="overflow-y: auto; height: 200px; ">
                <div *ngFor="let user of filterLider()" class="field">
                  <div class=" media">
                    <div class="media-left media-middle">
                      <img src="https://pbs.twimg.com/media/C575StHVAAA1B9L.jpg" class="media-object" style="width:70px; height:70px;">
                    </div>
                    <div class="media-body">
                      <h4>{{user.full_name}}</h4>
                      <a (click)="viewProfile(user.id)">Ver perfil</a>
                    </div>
                  </div>
                  <hr style="border:1px dotted black;">
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" style="background: #555;color: white;">
                <div class="row">
                  <div class="col-sm-1 col-md-1">
                    <span class="glyphicon glyphicon-user" style="font-size: 1.8rem"></span>
                  </div>
                  <div class="col-sm-10 col-md-10">
                    <h3>Miembros</h3>
                  </div>
                </div>
              </div>
              <div class="panel-body" style="overflow-y: auto; height: 200px; ">
                <div *ngFor="let user of filterMember()" class="field">
                  <div class=" media">
                    <div class="media-left media-middle">
                      <img src="https://pbs.twimg.com/media/C575StHVAAA1B9L.jpg" class="media-object" style="width:70px; height:70px;">
                    </div>
                    <div class="media-body">
                      <h4>{{user.full_name}}</h4>
                      <a (click)="viewProfile(user.id)">Ver perfil</a>
                    </div>
                  </div>
                  <hr style="border:1px dotted black;">
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr style="border:1px dotted black;">

        <div class="container-fluid">
          <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading" style="background: #555;color: white;">
                <div class="row">
                  <div class="col-sm-1 col-md-1">
                    <span class="glyphicon glyphicon-calendar" style="font-size: 1.8rem"></span>
                  </div>
                  <div class="col-sm-11 col-md-11">
                    <h3>Eventos</h3>
                  </div>
                </div>
              </div>
              <div class="panel-body" style="overflow-y: auto; height: 300px; ">
                <div class="research-group">
                  <div *ngFor="let event of researchGroup.events">
                    <div class=" media">
                      <div class="media-left media-middle">
                        <img src="https://pbs.twimg.com/media/C575StHVAAA1B9L.jpg" class="media-object" style="width:70px; height:70px;">
                      </div>

                      <div class="media-body">
                        <h4 class="media-heading">{{event.topic}}</h4>
                        <a href="#">Mas informacion</a>
                      </div>
                    </div>
                    <hr style="border:1px dotted black;">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading" style="background: #555;color: white;">
                <div class="row">
                  <div class="col-sm-1 col-md-1">
                    <span class="glyphicon glyphicon-tasks" style="font-size: 1.8rem"></span>
                  </div>
                  <div class="col-sm-11 col-md-11">
                    <h3>Lineas de investigacion</h3>
                  </div>
                </div>
              </div>
              <div class="panel-body" style="overflow-y: auto; height: 300px;">
                <div class="research-group">
                  <div *ngFor="let subject of researchGroup.research_subjects">
                    <div class="media">
                      <div class="media-left media-middle">
                          <img src="https://pbs.twimg.com/media/C575StHVAAA1B9L.jpg" class="media-object" style="width:70px; height:70px;">
                      </div>

                      <div class="media-body">
                        <h4 class="media-heading">{{subject.name}}</h4>
                        <a href="#">Mas informacion</a>
                      </div>
                    </div>
                    <hr style="border:1px dotted black;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr style="border:1px dotted black;">

        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading" style="background: #555;color: white;">
              <div class="row">
                <div class="col-sm-1 col-md-1">
                  <span class="glyphicon glyphicon-book" style="font-size: 1.8rem"></span>
                </div>
                <div class="col-sm-10 col-md-10">
                  <h3>Publicaciones</h3>
                </div>
                <div class="col-sm-1 col-md-1">
                  <a (click)="pdfMode()">
                    <span class="glyphicon glyphicon-file" title="Ver PDF"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="panel-body" style="overflow-y: auto; height: 300px; ">
              <div class="research-group">
                <div *ngFor="let publication of researchGroup.publications">
                  <div class=" media">
                    <div class="media-left media-middle">
                      <img src="https://pbs.twimg.com/media/C575StHVAAA1B9L.jpg" class="media-object" style="width:70px; height:70px;">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{publication.name}}</h4>
                      <a href="#">Mas informacion</a>
                    </div>
                  </div>
                  <hr style="border:1px dotted black;">
                </div>
              </div>
            </div>

            <div *ngIf="PDF" class="panel-body" style="overflow-y: auto; height: 800px; ">
              <app-documents [url]="rgReportUrl"></app-documents>
            </div>
          </div>
        </div>
        <hr style="border:1px dotted black;">

    <div *ngIf="statistics" class="container-fluid main-container statistics">
        <h2> Estadísticas </h2>
        <br>
        <div class="row">
          <div *ngIf="publLastPeriodChart.data.length" class="col-md-6">
            <h4 class="chart-title">Publicaciones en los últimos meses</h4>
            <nvd3 [options]="publLastPeriodChart.options" [data]="publLastPeriodChart.data"></nvd3>
          </div>
          <div *ngIf="publTypesChart.data.length" class="col-md-6">
            <h4 class="chart-title">Publicaciones por tipo</h4>
            <nvd3 [options]="publTypesChart.options" [data]="publTypesChart.data"></nvd3>
          </div>
          <div *ngIf="publOverallChart.data.length" class="col-md-6">
            <h4 class="chart-title">Publicaciones realizadas por miembro</h4>
            <nvd3 [options]="publOverallChart.options" [data]="publOverallChart.data"></nvd3>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" *ngIf="isOwner" (click)="toggleShowInput()">Editar</button>
      <button class="btn btn-primary" routerLink="/research-list" role="button">Volver</button>
    </div>

      <div class="row" [hidden]="!showInput">
        <form (ngSubmit)="onSubmit()">
            <div class="col-sm-2 col-md-2">
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver, 'file-loaded': uploader.queue.length}" (fileOver)="fileOverBase($event)"
              [uploader]="uploader" (onFileDrop)="loadedImage($event)" class="well my-drop-zone">
                Suelta tu imagen aquí
              <img src="{{ researchGroup?.photo ? researchGroup.photo : 'assets/images/user.png' }}" onerror="this.src = 'assets/images/user.png';" class="img-responsive profile-image"
              mediaPreview [media]="uploader?.queue[0]?._file" />
            </div>
            <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelect)="loadedImage($event)" accept="image/png,image/gif,video/mp4,image/jpeg"
              />
              </div>

        <div class="col-sm-5 col-md-5">
          <div class="row">
              <div class="col-md-6">
                <label for="inputName">Nombre</label>
                <input id="inputName" type="text" class="form-control" required [(ngModel)]="researchGroup.name" name="Name" />
              </div>
              <div class="col-md-6">
                <label for="inputDescription">Descripción</label>
                <input id="inputDescription" type="text" class="form-control" required [(ngModel)]="researchGroup.description" name="description" />
              </div>
              <label for="inputStrategicFocus">Enfoque Estratégico</label>
              <textarea id="inputStrategicFocus" type="text" class="form-control" required [(ngModel)]="researchGroup.strategic_focus" name="strategic_focus" rows="3"></textarea>
              <label for="inputResearchPriorities">Prioridades de Investigación</label>
              <textarea id="inputResearchPriorities" type="text" class="form-control" required [(ngModel)]="researchGroup.research_priorities" name="research_priorities" rows="3"></textarea>
              <div class="col-md-6">
                <label for="inputFoundationDate">Fecha de Fundación</label>
                <input id="inputFoundationDate" type="text" class="form-control" required [(ngModel)]="researchGroup.foundation_date" name="foundation_date">
              </div>
              <div class="col-md-6">
                <label for="inputClassification">Clasificación</label>
                <input id="inputClassification" type="text" class="form-control" required [(ngModel)]="researchGroup.classification" name="classification" >
              </div>
              <div class="col-md-6">
                <label for="inputDateClassification">Fecha de Clasificación</label>
                <input id="inputDateClassification" type="text" class="form-control" required [(ngModel)]="researchGroup.date_classification" name="date_classification">
                </div>
              <div class="col-md-6">
                <label for="inputUrl">Url</label>
                <input id="inputUrl" type="text" class="form-control" required [(ngModel)]="researchGroup.url" name="url">
              </div>
            </div>
            <br><br>
            <div class="btn-group">
              <button type="submit" class="btn btn-primary" (click)="updateGroup()">Guardar</button>
              <button type="button" class="btn btn-danger" (click)="toggleShowInput()">Cancelar</button>
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>
</main>

<app-generic-swal [options]="swalOpts"></app-generic-swal>

<div id="modal-add-users" class="modal fade hidden-print" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button #closeModal type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Añadir usuarios</h2>
      </div>
      <div class="modal-body row">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
          <input type="text" class="form-control" placeholder="Escribe para buscar..." (input)="setUsersToAdd($event.target.value)">
        </div>
        <div class="col-md-6">
          <div *ngFor="let user of usersToAdd">
            <div *ngIf="!choosed(user.id)">
              <div class="col-xs-10">
                {{ user.full_name }}
              </div>
              <div class="col-xs-2">
                <button class="btn btn-xs btn-primary" (click)="addUser(user)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div> 
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngFor="let user of choosedUsers; let i = index">
            <div class="col-xs-4">
              {{ user.name }}
            </div>
            <div class="col-xs-4">
              <select class="form-control" [value]="user.member_type" (input)="user.member_type = $event.target.value">
                <option *ngFor="let t of memberTypes" [ngValue]="t">{{ t }}</option>
              </select>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-xs btn-danger" (click)="removeUser(i)">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row" style="text-align: center">
          <div class="col-xs-6">
            <button type="submit" class="btn btn-primary" (click)="addUsers()">Añadir usuarios</button>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>