<main class="detalle">
  <div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Comentarios</span></div>
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-6 logo">
        <img src="assets/images/IRIS-logo.png" />
      </div>
      <div class="col-md-5">
        <h2>Déjanos un comentario</h2><br>
        <form class="comments-form" [formGroup]="commentForm" (ngSubmit)="sendComments()">
          <!-- Subject -->
          <div class="form-group">
            <label class="form-label">Asunto</label>
            <input type="text" class="form-control" formControlName="subject" placeholder="Asunto">
            <form-control-errors [control]="subject"
            [required]="'Por favor introduce un asunto.'"></form-control-errors>
          </div>
          <!-- Subject -->
          <div class="form-group">
            <label class="form-label">Comentarios</label>
            <textarea type="text" class="form-control" formControlName="comments" placeholder="Comentarios" rows="5"></textarea>
            <form-control-errors [control]="comments"
            [required]="'Por favor introduce tus comentarios.'"></form-control-errors>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="commentForm.invalid">Enviar comentarios</button>
        </form>
      </div>
    </div>
  </div>
</main>
