<main class="detalle">
  <div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Comentarios</span></div>
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-6 logo">
        <img src="assets/images/IRIS-logo.png" />
      </div>
      <div class="col-md-5">
        <form class="comments" (ngSubmit)="sendComments()">
          <h2>Déjanos un comentario</h2><br>
          <label for="inputSubject">Asunto</label>
          <input type="text" id="inputSubject" class="form-control" placeholder="Asunto" required [(ngModel)]="comment.subject" name="subject">
          <label for="inputComment">Comentarios</label>
          <textarea type="text" id="inputComment" class="form-control" placeholder="Comentarios" required [(ngModel)]="comment.comments" name="comments" rows="5"></textarea><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button><br><br>
        </form>
      </div>
    </div>
  </div>
</main>
