<main class="detalle">
	<div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Administrar</span></div>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<p>Seleccione una opción para modificar: </p>
					<div class= "container">
						<button class="btn btn-primary btn-sm" routerLink="/users" role="button">Usuarios</button>
            <button class="btn btn-primary btn-sm" routerLink="/research-list" role="button">Grupos de Investigación</button>
						<button class="btn btn-primary btn-sm" routerLink="/publications" role="button">Publicaciones</button>
					</div>
				</div>
			</div>
		</div>

	</div><br>

</main>
