<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
    <h1>Usuarios</h1>
  </div>

  <div class="panel-body" style="position:relative">
    <button class="btn btn-primary btn-sm" routerLink="/users/add" role="button">Agregar</button>
    <button class="btn btn-primary btn-sm" routerLink="/admin/manage" role="button">Volver</button>
    <br><br>
    <app-crud [columns]="headers" [keys]="keys" [rows]="users" (onUpdate)="update($event)" (onDelete)="delete($event)"></app-crud>
    <app-pagination [page]="page"></app-pagination>
    <button class="btn btn-primary btn-sm" routerLink="/admin/manage" role="button">Volver</button>
  </div>
</div>

<swal #errSwal title text type="error"></swal>
<swal #sucSwal title type="success"></swal>