<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
    <h1>Usuarios</h1>
  </div>

  <div class="panel-body" style="position:relative">
    <div class="table-responsive">
      <button routerLink="/users/add" role="button">Agregar</button>
      <button routerLink="/admin/manage" role="button">Volver</button>

      <table class="table table-bordered">
        <thead>
          <tr>
            <!--th *ngFor="let column of columns"></th-->
            <th> name </th>
            <th>lastname</th>
            <th>username</th>
            <th>email</th>
            <th>professional_profile</th>
            <th>phone</th>
            <th>office</th>
            <th>cvlac_link</th>
            <th>user_type</th>
            <th>Actions</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <td *ngFor="let column of columns">
              {{row[column]}}
            </td>
            <button class="btn btn-danger btn-sm" (click)="delete(row['id'])">Eliminar</button> ||
            <button class="btn btn-primary btn-sm" (click)="update(row['id'])">Actualizar</button>

          </tr>
          <br>
          <button routerLink="/admin/manage" role="button">Volver</button>

        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="Page navigation">
    <ul *ngIf="page" class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" (click)="prevPage()">Previous</a></li>
      <li class="page-item {{ page == 1 ? 'active' : '' }}"><a class="page-link" (click)="goToPage(1)">1</a></li>
      <li class="page-item {{ page == 2 ? 'active' : '' }}"><a class="page-link" (click)="goToPage(2)">2</a></li>
      <li class="page-item {{ page == 3 ? 'active' : '' }}"><a class="page-link" (click)="goToPage(3)">3</a></li>
      <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
    </ul>
  </nav>
</div>
