<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
    <h1>Usuarios</h1>
  </div>

  <div class="panel-body" style="position:relative">
    <button class="btn btn-primary btn-sm" routerLink="/users/add" role="button">Agregar</button>
    <button class="btn btn-primary btn-sm" routerLink="/admin/manage" role="button">Volver</button>
    <br><br>
    <app-crud [columns]="headers" [keys]="keys" [rows]="users" (onUpdate)="update($event)" (onDelete)="delete($event)" (onDetails)="details($event)"></app-crud>
    <app-pagination [page]="page"></app-pagination>
    <button class="btn btn-primary btn-sm" routerLink="/admin/manage" role="button">Volver</button>
  </div>
</div>

<swal #sucDelSwal
  title="El usuario ha sido eliminado."
  type="success">
</swal>
<swal #errDelSwal
  title="Usuario no eliminado."
  text="Mensaje de error: "
  type="error">
</swal>
<swal #errUsersSwal
  title="No se han podido obtener los usuarios."
  text="Mensaje de error: "
  type="error">
</swal>