<div class="jumbotron">
	<div class="container">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label class="col-xs-4 control-label" for="">Name: </label>
				<div class="col-xs-8">
					<input type="text" style="width: 300px" class="form-control" required [(ngModel)]="researchGroup.name" name="Name">
				</div>
				<label class="col-xs-4 control-label" for="">Description: </label>
				<div class="col-xs-8">
					<input type="text" style="width: 300px" class="form-control" required [(ngModel)]="researchGroup.description" name="description">
				</div>
				<label class="col-xs-4 control-label" for="">Strategic Focus: </label>
				<div class="col-xs-8">
					<input type="text" style="width: 300px" class="form-control" required [(ngModel)]="researchGroup.strategic_focus" name="strategic_focus">
				</div>
				<label class="col-xs-4 control-label" for="">Reasearch Priorities: </label>
				<div class="col-xs-8">
					<input type="text" style="width: 300px" class="form-control" required [(ngModel)]="researchGroup.reasearch_priorities" name="reasearch_priorities">
				</div>
				<label class="col-xs-4 control-label" for="">Foundation Date: </label>
				<div class="col-xs-8">
					<input type="text" style="width: 300px" class="form-control" required [(ngModel)]="researchGroup.foundation_date" name="foundation_date">
				</div>
				<label class="col-xs-4 control-label" for="">Classification: </label>
				<div class="col-xs-8">
					<input type="text" style="width: 300px" class="form-control" required [(ngModel)]="researchGroup.classification" name="classification">
				</div>
				<label class="col-xs-4 control-label" for="">Date Classification: </label>
				<div class="col-xs-8">
					<input type="text" style="width: 300px" class="form-control" required [(ngModel)]="researchGroup.date_classification" name="date_classification">
				</div>
				<label class="col-xs-4 control-label" for="">url: </label>
				<div class="col-xs-8">
					<input type="text" style="width: 300px" class="form-control" required [(ngModel)]="researchGroup.url" name="url">
				</div>
				<div>
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
