<main class="detalle">
	<div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Iniciar sesión</span></div>
	<div class="jumbotron">
		<div class="row align-col">
			<div class="col-lg-12">
				<img src="assets/images/IRIS-logo.png" />
			</div>
		</div>
		<div class="row align-col">
			<div class="col-md-6 col-item left-item">
				<h2 class="form-signin-header">Inicia sesión</h2><br>
				<form class="signin-form" [formGroup]="signInForm" (ngSubmit)="signIn()">
          <!-- Username -->
          <div class="form-group">
            <label class="form-label">Usuario</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Usuario UNAL" autofocus>
            <app-form-control-errors [control]="username"
            [required]="'Por favor introduce tu usuario.'"
            [pattern]="'Recuerda que el usuario sólo puede tener letras.'"></app-form-control-errors>
          </div>
          <!-- Password -->
          <div class="form-group">
            <label class="form-label">Correo</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
            <app-form-control-errors [control]="password"
            [required]="'Por favor introduce tu contraseña.'"></app-form-control-errors>
          </div>
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="rememberInput">
					  <label class="form-check-label" for="rememberInput">
					    Recuérdame
					  </label>
					</div>
					<button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="signInForm.invalid">Ingresar</button><br><br>
				</form>
			</div>
			<div class="col-md-6 col-item">
				<h2 class="form-signin-heading">Otras opciones</h2><br>
				<div class="btn-google" (click)="googleSignIn()">
					<span class="icon"></span>
					<span class="buttonText">Accede con Google</span>
				</div>
				<a routerLink="/" class="btn btn-primary btn-lg btn-block" role="button">Continúa como invitado</a>
				<button routerLink="register" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modal-sign-up">Regístrate</button>
			</div>
		</div>
	</div>
</main>
<router-outlet></router-outlet>

<swal #errSwal title text type="error"></swal>