<div class="jumbotron">
  <div class="research-group">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ul>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="row" style="align-self: center;">
              <div class="col-md-5">
                <img src="https://pbs.twimg.com/media/C575StHVAAA1B9L.jpg" width="400" height="250">
              </div>
              <div class="col-md-6 container">
                <h1>Nombre</h1>
                <p>Descripcion</p>
                <a href="#">Mas informacion</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="row" style="align-self: center;">
              <div class="col-md-5">
                <img src="https://image.freepik.com/vector-gratis/plantilla-abstracta-de-inteligencia-artificial_23-2147723488.jpg" width="400"
                  height="250">
              </div>
              <div class="col-md-6 container">
                <h1>Nombre</h1>
                <p>Descripcion</p>
                <a href="#">Mas informacion</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="row" id="research_groups_view">
    <div class="research-group" *ngFor="let row of rows">
      <div class="col-xs-6 col-md-3 col-lg-3">
        <div class="panel panel-default">
          <div class="panel panel-heading">
            <h4 class="text-center">{{row.name}}</h4>
          </div>
          <div class="panel panel-body" [ngStyle]="{
            'background-image': 'url(' + row.photo + ')',
            'background-repeat': 'no-repeat',
            'background-color': '#555',
            'background-size': '100%'
          }">
            <div class="screen">
              <div class="row">
                <div class="col-sm-12 center-block">
                  <div class="box">
                    <p class="white-text ">{{row.description}}</p>
                    <div class="glyphicon pull-right pull-down">
                      <a (click)="openRG(row.id)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <h5 class="text-right">{{row.foundation_date}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pagination [page]="page"></app-pagination>
  <hr>
  <hr>
  <div class="row" align="center">
    <p>
      <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Inicio</a>
    </p>
  </div>
</div>
<swal #errSwal title text type="error"></swal>
