    
    <div class="logo">
        <a href="http://unal.edu.co">
        <!--[if (gte IE 9)|!(IE)]><!-->
        <svg width="93%" height="93%">
            <image xlink:href="../../assets/images/escudoUnal.svg" width="100%" height="100%" class="hidden-print"/>
    	</svg>
    	<img src="../../assets/images/escudoUnal_black.png" class="visible-print" />
        </a>
			
			</div>
			
			<div class="seal" style="border:thin">
	           	
			</div>
			
			<div class="firstMenu">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				
	           	<ul class="socialLinks hidden-xs">
					<li>
						<a href="https://www.facebook.com/UNColombia" target="_blank" class="facebook" title="Página oficial en Facebook"></a>
					</li>
					<li>
						<a href="https://twitter.com/UNColombia" target="_blank" class="twitter" title="Cuenta oficial en Twitter"></a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UCnE6Zj2llVxcvL5I38B0Ceg" target="_blank" class="youtube" title="Canal oficial de Youtube"></a>
					</li>
					<li>
						<a href="http://agenciadenoticias.unal.edu.co/nc/sus/type/rss2.html" target="_blank" class="rss" title="Suscripción a canales de información RSS"></a>
					</li>
	           	</ul>
	           	
	           	<div class="navbar-default">
					<nav id="profiles">
						<ul class="nav navbar-nav dropdown-menu">
							<li class="item_Administrativos #>"><a href="index.html#">Log in</a></li>
						</ul>
					</nav>
	           	</div>
			</div>
			
			<div id="bs-navbar" class="navbar-collapse collapse navigation">
            	<div class="site-title">
					IRIS
            	</div>
	           	
	            	
		        <div class="mainMenu">
						
		        </div>
		           	
		        <div class="btn-group hidden-sm hidden-md hidden-lg hidden-print">
					<div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="unalOpenMenuServicios" data-target="#services">Servicios<span class="caret"> </span>
					</div>
		        </div>
	            	
	            <div class="btn-group hidden-sm hidden-md hidden-lg hidden-print">
					<div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="unalOpenMenuPerfiles" data-target="#profiles">Perfiles<span class="caret"> </span>
					</div>
	            </div>
			</div>
