@import "~ng-pick-datetime/assets/style/picker.min.css";

h1, h2, h3, h4, h5, h6 {
  font-family: "Ancizar sans", Tahoma, Geneva, sans-serif !important;
  font-weight: bold !important;
}

app-root {
  background-color: #dddddd;
  font-family: "Ancizar sans", Tahoma, Geneva, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  line-height: 1.42857143;
}

app-login {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 30em;
}

app-footer {
  height: auto;
  background: #666666;
  font-size: 0.9em;
  color: #dddddd;
  padding: 15px 0 25px;
  display: inline-block;
}

.container {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #eee;
  border-radius: 6px;
}

.btn-swal {
  margin: 0 .3125em;
}

/* Forms validations styles */

.form-group {
  margin-bottom: 0.25rem;
}

.form-group .form-group {
  margin-bottom: 0;
}

.form-control {
  background-repeat: no-repeat;
  background-position: center right .5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-control:focus {
  border-left: 5px solid #66afe9;
}

.form-label {
  padding-bottom: 0.25rem;
  font-size: 1.15rem;
}

.invalid-feedback.warning small {
  color: #f0ad4e;
}

.invalid-feedback.error small {
  color: #d9534f;
}

/* Success */

.form-control.ng-valid.ng-dirty,
.form-control.ng-valid.ng-dirty:focus {
  padding-right: 2.25rem;
  border-left: 5px solid;
  border-color: #3c763d;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

/* Warning */

.form-control.ng-touched.ng-invalid.ng-pristine {
  padding-right: 2.25rem;
  border-left: 5px solid;
  border-color: #f0ad4e;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E")
}

/* Error */

.form-control.ng-dirty.ng-invalid,
.form-control.ng-dirty.ng-invalid:focus {
  padding-right: 2.25rem;
  border-left: 5px solid;
  border-color: #d9534f;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}

/* Datetime picker */

.control-datetime {
  padding-left: 34px !important;
}

.datetime-trigger {
  position: absolute;
  width: 30px;
  height: 32px;
  top: 27.5px;
  left: 7px;
  line-height: 34px;
  border-radius: 3px 0px 0px 3px;
  text-align: center;
}
