<main class="detalle">
  <div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Perfil</span></div>
  <div *ngIf="user" class="container-fluid main-container">
    <div class="container-fluid">
      <div class="row" [hidden]="showInput">
        <h2>Perfil</h2><br>
        <div class="col-sm-2 col-md-2">
          <img src="{{user.photo ? user.photo.link : 'assets/images/user.png'}}" onerror="this.src='assets/images/user.png';" class="img-rounded img-responsive profile-image" />
        </div>
        <div class="col-sm-5 col-md-5">
          <div class="field">
            <h4>{{ user.full_name }}</h4>
          </div>
          <div class="field">
            {{ user.email }}
          </div>
          <div *ngIf="user.professional_profile" class="field">
            {{ user.professional_profile }}
          </div>
        </div>
        <div class="col-sm-5 col-md-5">
          <div *ngIf="user.phone" class="field">
            {{ user.phone }}
          </div>
          <div class="field" *ngIf="user.user_type == 'profesor'">
            {{ user.office }}
          </div>
          <div *ngIf="user.cvlac_link" class="field">
            {{ user.cvlac_link }}
          </div>
          <div *ngIf="user.career" class="field">
            {{ user.career.degree_type }} {{ user.career.name }}
          </div>
          <div *ngIf="!( auxiliarID | async )" class="btn-group">
            <button type="button" class="btn btn-primary" (click)="toggleShowInput()">Editar</button>
          </div>
        </div>
      </div>
      <div class="row" [hidden]="!showInput">
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
          <div class="col-sm-2 col-md-2">
            <img src="{{user.photo ? user.photo.link : 'assets/images/user.png'}}" onerror="this.src='assets/images/user.png';" class="img-rounded img-responsive profile-image" />
          </div>
          <div class="col-sm-5 col-md-5">

            <!-- Name-->
            <div class="form-group" formGroupName="name">
              <label class="form-label">Nombres y apellidos</label>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" formControlName="first" placeholder="Nombres">
                  <form-control-errors [control]="first"
                  [required]="'Por favor introduce tus nombres.'"
                  [pattern]="'Tus nombres no pueden contener símbolos.'"
                  [minLength]="'Por favor introduce tus nombres completos.'"
                  [maxLength]="'Tus nombres son muy largos.'"></form-control-errors>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" formControlName="last" placeholder="Apellidos">
                  <form-control-errors [control]="last"
                  [required]="'Por favor introduce tus apellidos.'"
                  [pattern]="'Tus apellidos no pueden contener símbolos.'"
                  [minLength]="'Por favor introduce tus apellidos completos.'"
                  [maxLength]="'Tus apellidos son muy largos.'"></form-control-errors>
                </div>
              </div>
            </div>
            
            <!-- Password and confirmation-->
            <div class="form-group" formGroupName="passwords">
              <label class="form-label">Contraseña</label>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                  <form-control-errors [control]="password"></form-control-errors>
                  <!-- Block validation for password matches -->
                  <div class="invalid-feedback error" *ngIf="(password.dirty && password.valid) && (passwordConf.pristine || (passwordConf.dirty && passwordConf.invalid && !passwordConf.errors.minlength)) && passwords.errors">
                    <small *ngIf="passwords.errors.mismatch">Las contraseñas no coinciden</small>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Confirmar contraseña">
                  <form-control-errors [control]="passwordConf"
                  [minLength]="'Completa tu contraseña.'"></form-control-errors>
                </div>
              </div>
            </div>
            
            <!-- Professional profile -->
            <div class="form-group">
              <label class="form-label">Perfil profesional</label>
              <textarea  type="text" class="form-control" formControlName="professional_profile" placeholder="Perfil profesional" rows="3"></textarea>
              <form-control-errors [control]="professional_profile"
              [required]="'Por favor introduce tu perfil profesional.'"
              [maxLength]="'Tu perfil profesional es muy largo, resúmelo un poco.'"></form-control-errors>
            </div>
          </div>
          
          <div class="col-sm-5 col-md-5">
            <div [ngClass]="{ 'row': user.user_type != 'estudiante' } ">
              <!-- Phone -->
              <div class="form-group" [ngClass]="{ 'col-md-6': user.user_type != 'estudiante' } ">
                <label class="form-label">Teléfono</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Teléfono">
                <form-control-errors [control]="phone"
                [pattern]="'Tu teléfono sólo debe contener números.'"></form-control-errors>
              </div>
              <!-- Office -->
              <div class="form-group col-md-6" *ngIf="user.user_type != 'estudiante'">
                <label class="form-label">Oficina</label>
                <input type="text" class="form-control" formControlName="office" placeholder="Oficina">
                <form-control-errors [control]="office"></form-control-errors>
              </div>
            </div>
            
            <!-- CvLAC -->
            <div class="form-group">
              <label class="form-label">CvLAC</label>
              <input type="text" class="form-control" formControlName="cvlac_link" placeholder="URL de CvLAC">
              <form-control-errors [control]="cvlac_link"></form-control-errors>
            </div>
            
            <div id="dependencies-dropdowns" class="row">
              <div id="faculty-dropdown" class="col-md-4">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                  <!--{{ user.faculty ? user.faculty.name : "Facultad" }}-->
                  Facultad
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li *ngFor="let faculty of faculties">
                    <a (click)="setDepartments(faculty.id)">
                      {{ faculty.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <div id="department-dropdown" class="col-md-4">
                <button class="btn btn-primary dropdown-toggle {{ departments.length ? '' : 'disabled'}}" type="button" data-toggle="dropdown">
                  <!--{{ user.department ? user.department.name : "Departamento" }}-->
                  Departamento
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li *ngFor="let department of departments">
                    <a (click)="setCareers(department.id)">
                      {{ department.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <div id="career-dropdown" class=" col-md-4">
                <button class="btn btn-primary dropdown-toggle {{ careers.length ? '' : 'disabled'}}" type="button" data-toggle="dropdown">
                  <!--{{ user.career ? user.career.name : "Carrera" }}-->
                  Carrera
                   <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li *ngFor="let career of careers">
                    <a (click)="careerClicked(career)">
                      {{ career.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <br>
            <div class="btn-group">
              <button class="btn btn-primary" type="submit" [disabled]="profileForm.invalid">Registrarse</button>
              <button type="button" class="btn btn-danger" (click)="toggleShowInput()">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="user.research_subjects">
      <div *ngIf="user.research_subjects.length" class="container-fluid main-container">
        <div class="row items-row">
          <div *ngFor="let rs of user.research_subjects" class="col-sm-6 col-md-4 col-lg-3">
            <h2>Temas de interes</h2><br>
            <div class="alert alert-info">
              <a (click)="delete(rs.id)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p>{{ rs.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.research_groups">
      <div *ngIf="user.research_groups.length" class="container-fluid main-container">
        <h2>Grupos de investigación</h2><br>
        <div class="row items-row">
          <div *ngFor="let rg of user.research_groups" class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" routerLink="/">
              <div class="header-bg"></div>
              <div class="avatar">
                <img src="{{rg.photo ? rg.photo.link : 'assets/images/user.png'}}" alt="" onerror="this.src='assets/images/user.png';" class="img-rounded img-responsive profile-image" />
                <!--img src="{{rg.photo.link}}" alt="" /-->
              </div>
              <div class="content">
                <p><b>{{ rg.name }}</b><br> {{ rg.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.publications">
      <div *ngIf="user.publications.length" class="container-fluid main-container">
        <h2>Publicaciones</h2><br>
        <div class="row items-row">
          <div *ngFor="let pub of user.publications" class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" routerLink="/">
              <div class="header">
                <b>{{ pub.name }}</b>
              </div>
              <div class="content">
                <p>{{ pub.brief_description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.events">
      <div *ngIf="user.events.length" class="container-fluid main-container">
        <h2>Eventos</h2><br>
        <div class="row items-row">
          <div *ngFor="let ev of user.events" class="col-sm-6 col-md-4 col-lg-2">
            <div class="card" routerLink="/">
              <div class="header">
                <b>{{ ev.topic }}</b>
              </div>
              <div class="content">
                <p>{{ ev.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
