<main class="detalle">
	<div class="breadcrumb-class">Está en:
		<a routerLink="/" target="_self" title="Inicio">Inicio</a>/
		<a routerLink="/event-list" target="_self" title="Inicio">Lista de eventos</a>/
		<span>{{ (auxiliarID | async) ? 'Añadir evento' : 'Editar evento' }}</span>
	</div>
	<div class="container-fluid">
		<div class="container-fluid main-container">
			<div class="row">
				<div class="col-md-6">
					<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">

						<!-- Topic -->
						<div class="form-group">
							<label class="form-label">Tema</label>
							<input type="text" class="form-control" formControlName="topic" placeholder="Tema">
							<form-control-errors [control]="topic"></form-control-errors>
						</div>

						<!-- Description -->
						<div class="form-group">
							<label class="form-label">Descripción</label>
							<input type="text" class="form-control" formControlName="description" placeholder="Descripción">
							<form-control-errors [control]="description"></form-control-errors>
						</div>

						<!-- Event type -->
						<div class="form-group">
							<label class="form-label">Tipo de evento</label>
							<select class="form-control" formControlName="event_type">
								<option *ngFor="let et of event_types" [ngValue]="et">{{ et }}</option>
							</select>
							<form-control-errors [control]="event_type"></form-control-errors>
						</div>

						<!-- Date -->
						<div class="form-group">
							<label class="form-label">Fecha</label>
							<input type="text" class="form-control" formControlName="date" placeholder="Fecha">
							<form-control-errors [control]="date"></form-control-errors>
						</div>

						<!-- Frequence -->
						<div class="form-group">
							<label class="form-label">Frecuencia</label>
							<select class="form-control" formControlName="frequence">
								<option *ngFor="let ft of frequence_types" [ngValue]="ft">{{ ft }}</option>
							</select>
							<form-control-errors [control]="frequence"></form-control-errors>
						</div>

						<!-- Duration -->
						<div class="form-group">
							<label class="form-label">Duración</label>
							<input type="text" class="form-control" formControlName="duration" placeholder="Duración">
							<form-control-errors [control]="duration"></form-control-errors>
						</div>

						<!-- State -->
						<div class="form-group">
							<label class="form-label">Estado</label>
							<select class="form-control" formControlName="state">
								<option *ngFor="let st of state_types" [ngValue]="st">{{ st }}</option>
							</select>
							<form-control-errors [control]="state"></form-control-errors>
						</div>

						<div>
							<button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Submit</button>
							<button type="button" class="btn btn-danger" routerLink="/event-list">Volver</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>