<div id="services">
	<div class="indicator hidden-xs"></div>
	<ul class="hidden-xs">
		<li><img src="../assets/images/icnServEmail.png" width="32" height="32" alt="" border="0"><a href="http://correo.unal.edu.co" target="_blank">Correo institucional</a></li>
		<li><img src="../assets/images/icnServSia.png" width="32" height="32" alt="" border="0"><a href="https://dninfoa.unal.edu.co" target="_blank">DNINFOA - SIA</a></li>
		<li><img src="../assets/images/csm_hermes_2f244f66ce.png" width="32" height="32" alt="" border="0"><a href="http://www.investigacion.unal.edu.co/index.php/mapa-servicios" target="_top">Servicios para la investigación</a></li>
		<li><img src="../assets/images/icon_identidad.png" width="32" height="32" alt="" border="0"><a href="http://identidad.unal.edu.co/" target="_blank">Identidad U.N.</a></li>
		<li><img src="../assets/images/icnServEngagement.png" width="32" height="32" alt="" border="0"><a href="http://www.unal.edu.co/contratacion/" target="_blank">Portal de contratación</a></li>
		<li><img src="../assets/images/icnServLibrary.png" width="32" height="32" alt="" border="0"><a href="http://www.sinab.unal.edu.co" target="_top">Bibliotecas</a></li>
		<li><img src="../assets/images/icon_registro.png" width="32" height="32" alt="" border="0"><a href="/registro-y-matricula.html" target="_self">Registro y Matrícula</a></li>
		<li><img src="../assets/images/servicios-bienestar.png" width="32" height="32" alt="" border="0"><a href="http://www.bienestar.unal.edu.co" target="_top">Bienestar</a></li>
		<li><img src="../assets/images/icnServMuseums.png" width="32" height="32" alt="" border="0"><a href="http://circular.unal.edu.co/museumlist/" target="_top">Museos</a></li>
		<li><img src="../assets/images/icnServPress.png" width="32" height="32" alt="" border="0"><a href="http://www.editorial.unal.edu.co" target="_top">Editorial</a></li>
		<li><img src="../assets/images/icnServLegalRules.png" width="32" height="32" alt="" border="0"><a href="http://www.legal.unal.edu.co" target="_top">Régimen Legal</a></li>
		<li><img src="../assets/images/icnServicesKidsPortal.png" width="32" height="32" alt="" border="0"><a href="/portal-para-ninos.html" target="_self">Portal para niños</a></li>
	</ul>
</div>
