<main class="detalle">
  <div class="breadcrumb-class">Está en: Página no encontrada</div>
  <div class="container-fluid main-container">
    <div class="container-fluid">
      <div class="col-sm-4">
        <img src="assets/images/IRIS-logo.png" />
      </div>
      <div class="col-sm-6">
        <h1>Página no encontrada</h1>
        <div class="btn-group">
          <button class="btn btn-primary btn-lg" routerLink="/" role="button">Ir al inicio</button>
        </div>
      </div>
    </div>
  </div>
</main>