#events_view .panel-footer {
  height: 3rem;
  overflow: hidden;
  padding-top: 5%;
  margin: 0;
  background: #555;;
  border-style: none;
  color: white;
}

#events_view .panel {
  border-radius: 0rem;
}

#events_view .panel-heading {
  height: 3rem;
  overflow: hidden;
  padding-top: 2%;
  margin: 0;
  background: #555;
  color: white;
  border-style: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#events_view .panel-body {
  height: 100px;
  padding: 0;
  margin: 0;
  border-style: none;
  color: white;
}


#events_view .panel-body .white-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 40rem; /* fallback */
  -webkit-line-clamp: 10; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align: justify;
  text-last-align: center;
  color: white;

}

#events_view .screen {
  height: 100%;
  width: 100%;
  background-size: cover;
  padding-left: 0rem;
  padding-right: 0rem
}

#events_view .col-sm-12,
#events_view .box {
  margin-top: 0;
  height: 100px;
}

#events_view .box {
  text-align: center;
  background-color: rgba(123, 123, 123, 0.5);
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  top: 100%;
  bottom: 0;
  visibility: hidden;
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

#events_view .screen:hover .box {
  top: 0;
  height: 100px;
  visibility: visible;
}

#events_view .box .white-text {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  text-align: justify;
  text-align-last: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

#events_view .box #show {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  font-size: 3rem;
}

#events_view .box #show:hover {
  text-decoration: none;
}

.glyphicon.pull-right.pull-down {
  position: relative;
  top: 80%;
  font-size: 2.6rem;
}

.glyphicon.glyphicon-eye-open {
  color: white;
  border-radius: 50%;
  background: #555;
  padding: 0.21em;
}

.glyphicon.glyphicon-eye-open:hover {
  color: red;
  padding: 0.21em;
}