<main class="detalle">
  <div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Grupos de Investigación</span></div>
  <div *ngIf="event" class="container-fluid main-container">
    <div class="container-fluid">
      <div class="row container-fluid" [hidden]="showInput">
        <br><h2>{{event.name}} </h2><br>
        <div class="container-fluid">
          <div class="col-sm-8 col-md-8">
            <div class="media">
              <div class="media-left media-middle">
                <img src="{{event?.photos[0] ? event.photos[0] : 'assets/images/user.png'}}" onerror="this.src='assets/images/user.png';" class="img-rounded img-responsive profile-image"
                />
              </div>

              <div class="media-body">
                <h4><b>Tipo:</b></h4>
                {{ event.event_type }}
                <h4><b>Duración:</b></h4>
                {{ event.duration }}
                <h4><b>Fecha:</b></h4>
                {{ event.date }}
                <h4><b>Frecuencia:</b></h4>
                {{ event.frequence }}
                <h4><b>Estado:</b></h4>
                {{ event.state }}
              </div>
            </div><br>
            <h3><b>Tema</b></h3>
            <div class="field">
              <h4>{{ event.topic }}</h4>
            </div>
            <h3><b>Descripción</b></h3>
            <div class="field">
              <h4>{{ event.description }}</h4>
            </div>
          </div>

          <div class="col-sm-4 col-md-4">
            <button type="submit" class="btn btn-primary" *ngIf="(isLogged | async) && !isInvited" (click)="sendInvitation()">Invitar</button>
            <!--<button type="submit" class="btn btn-danger" *ngIf="(isLogged | async) && isJoined" (click)="leave()">Abandonar</button>-->
            <div class="panel panel-default">
              <div class="panel-heading" style="background: #555;color: white;">
                <div class="row">
                  <div class="col-sm-1 col-md-1">
                    <span class="glyphicon glyphicon-user" style="font-size: 1.8rem"></span>
                  </div>
                  <div class="col-sm-11 col-md-11">
                    <h3>Invitados</h3>
                  </div>
                </div>
              </div>

              <div class="panel-body" style="overflow-y: auto; height: 200px; ">
                <div class="users">
                  <div *ngFor="let user of invited" class="field">
                    <div class=" media">
                      <div class="media-left media-middle">
                        <img src="https://pbs.twimg.com/media/C575StHVAAA1B9L.jpg" class="media-object" style="width:70px; height:70px;">
                      </div>

                      <div class="media-body">
                        <h4>{{user.full_name}}</h4>
                        <a href="#">Ver perfil</a>
                      </div>
                    </div>
                    <hr style="border:1px dotted black;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr style="border:1px dotted black;">


      <button class="btn btn-primary" *ngIf="(sessionType | async) === 'Profesor'" (click)="toggleShowInput()">Editar</button>
      <button class="btn btn-primary" routerLink="/research-list" role="button">Volver</button>
    </div>

      <div class="row" [hidden]="!showInput">
        <form (ngSubmit)="onSubmit()">
            <div class="col-sm-2 col-md-2">
              !image here!
              </div>

        <div class="col-sm-5 col-md-5">
          <div class="row">

              <!-- Name -->
              <div class="col-md-6">
                <label for="inputName">Nombre</label>
                <input id="inputName" type="text" class="form-control" required [(ngModel)]="event.name" name="name">
              </div>

              <label for="inputTopic">Tema</label>
              <textarea id="inputTopic" type="text" class="form-control" required [(ngModel)]="event.topic" name="topic" rows="3"></textarea>
              <div class="col-md-6">
                <label for="inputType_ev">Tipo</label>
                <input id="inputType_ev" type="text" class="form-control" required [(ngModel)]="event.type_ev" name="type_ev" />
              </div>
              <div class="col-md-6">
                <label for="inputDuration">Duración</label>
                <input id="inputDuration" type="text" class="form-control" required [(ngModel)]="event.duration" name="duration">
              </div>
              <div class="col-md-6">
                <label for="inputDate">Fecha del evento</label>
                <input id="inputDate" type="text" class="form-control" required [(ngModel)]="event.date" name="date">
              </div>
              <div class="col-md-6">
                <label for="inputFrequence">Frecuencia</label>
                <input id="inputFrequence" type="text" class="form-control" required [(ngModel)]="event.frequence" name="frequence" >
              </div>
              <div class="col-md-6">
                <label for="inputState">Estado</label>
                <input id="inputState" type="text" class="form-control" required [(ngModel)]="event.state" name="state">
              </div>
              <br><br>
              <label for="inputDescription">Descripción</label>
              <textarea id="inputDescription" type="text" class="form-control" required [(ngModel)]="event.description" name="description" rows="3"></textarea>

            </div>
            <br><br>
            <div class="btn-group">
              <button type="submit" class="btn btn-primary" (click)="updateGroup()">Guardar</button>
              <button type="button" class="btn btn-danger" (click)="toggleShowInput()">Cancelar</button>
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>
</main>

<swal #sucSwal title type="success"></swal>
<swal #errSwal title text type="error"></swal>
