<div class="jumbotron">
			    <div class="container">
			        <h1>Noticias</h1>
			        <div class="row">
			        <div class="col-md-4">
			        <p>En esta sección podrás ver los hechos mas relevantes que involucran a los grupos de investigacion de la Universidad y sus integrantes.</p>
			      </div>

			    </div><br>
			    </div>
			    </div> <!-- /container -->
					<div class="container">
					<hr><hr>
			      <div class="row">
			        <div class="col-md-4">
			          <p><a class="btn btn-primary btn-lg" routerLink="/home" role="button">Inicio</a></p>
			        </div>
</div>
</div>

		<hr><hr>
