<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
    <h1>Grupos de Investigación</h1>
  </div>

  <div class="panel-body" style="position:relative">
    <button class="btn btn-primary btn-sm" routerLink="/research-groups/add" role="button">Agregar</button>
    <button class="btn btn-primary btn-sm" routerLink="/admin/manage" role="button">Volver</button>
    <br><br>
    <form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" name="searchString" placeholder="Escribe para buscar..." [(ngModel)]="searchString">
        </div>
    </div>
    </form>

    <div class="table-responsive">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>name</th>
            <th>description</th>
            <th>strategic_focus</th>
            <th>research_priorities</th>
            <th>foundation_date</th>
            <th>classification</th>
            <th>date_classification</th>
            <th>url</th>
            <th>Actions</th>
            <!--th *ngFor="let column of columns"></th-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows | filter : 'name' : searchString; let i = index">
            <td *ngFor="let column of columns">
              {{row[column]}}
            </td>
            <button type="button" class="btn btn-primary btn-xs" (click)="delete(row['id'])" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-trash"></span> Eliminar</button>||
            <button (click)="update(row['id'])" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-edit"></span> Editar</button>

          </tr>
        </tbody>
      </table>
      <app-pagination [page]="page"></app-pagination>
      <button class="btn btn-primary btn-sm" routerLink="/admin/manage" role="button">Volver</button>
    </div>
  </div>
</div>
