<main class="detalle">
	<div class="breadcrumb-class">Está en:
		<a routerLink="/" target="_self" title="Inicio">Inicio</a>/
		<a routerLink="/users" target="_self" title="Inicio">Lista de usuarios</a>/
		<span>{{ (auxiliarID | async) ? 'Añadir usuario' : 'Editar usuario' }}</span>
	</div>
	<div class="container-fluid">
		<div class="container-fluid main-container">
			<div class="row">
				<div class="col-md-6">
					<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

						<!-- Name-->
						<div class="form-group" formGroupName="name">
							<label class="form-label">Nombres y apellidos</label>
							<div class="row">
								<div class="form-group col-md-6">
									<input type="text" class="form-control" formControlName="first" placeholder="Nombres">
									<form-control-errors [control]="first" [required]="'Por favor introduce tus nombres.'" [pattern]="'Tus nombres no pueden contener símbolos.'"
									 [minLength]="'Por favor introduce tus nombres completos.'" [maxLength]="'Tus nombres son muy largos.'"></form-control-errors>
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" formControlName="last" placeholder="Apellidos">
									<form-control-errors [control]="last" [required]="'Por favor introduce tus apellidos.'" [pattern]="'Tus apellidos no pueden contener símbolos.'"
									 [minLength]="'Por favor introduce tus apellidos completos.'" [maxLength]="'Tus apellidos son muy largos.'"></form-control-errors>
								</div>
							</div>
						</div>

						<!-- Email -->
						<div class="form-group">
							<label class="form-label">Correo</label>
							<input type="email" class="form-control" formControlName="email" placeholder="Correo institucional">
							<form-control-errors [control]="email" [required]="'Por favor introduce tu email.'" [pattern]="'Recuerda que el correo debe ser usuario@unal.edu.co.'"></form-control-errors>
						</div>

						<!-- Password and confirmation-->
						<div class="form-group" formGroupName="passwords">
							<label class="form-label">Contraseña</label>
							<div class="row">
								<div class="form-group col-md-6">
									<input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
									<form-control-errors [control]="password"></form-control-errors>
									<!-- Block validation for password matches -->
									<div class="invalid-feedback error" *ngIf="(password.dirty && password.valid) && (passwordConf.pristine || (passwordConf.dirty && passwordConf.invalid && !passwordConf.errors.minlength)) && passwords.errors">
										<small *ngIf="passwords.errors.mismatch">Las contraseñas no coinciden</small>
									</div>
								</div>
								<div class="form-group col-md-6">
									<input type="password" class="form-control" formControlName="password_confirmation" placeholder="Confirmar contraseña">
									<form-control-errors [control]="passwordConf" [minLength]="'Completa tu contraseña.'"></form-control-errors>
								</div>
							</div>
						</div>

						<!-- Professional profile -->
						<div class="form-group">
							<label class="form-label">Perfil profesional</label>
							<textarea type="text" class="form-control" formControlName="professional_profile" placeholder="Perfil profesional" rows="3"></textarea>
							<form-control-errors [control]="professional_profile" [required]="'Por favor introduce tu perfil profesional.'" [maxLength]="'Tu perfil profesional es muy largo, resúmelo un poco.'"></form-control-errors>
						</div>

						<!-- Phone -->
						<div class="form-group">
							<label class="form-label">Teléfono</label>
							<input type="text" class="form-control" formControlName="phone" placeholder="Teléfono">
							<form-control-errors [control]="phone" [pattern]="'Tu teléfono sólo debe contener números.'"></form-control-errors>
						</div>

						<!-- Office -->
						<div class="form-group" *ngIf="user.user_type != 'estudiante'">
							<label class="form-label">Oficina</label>
							<input type="text" class="form-control" formControlName="office" placeholder="Oficina">
							<form-control-errors [control]="office"></form-control-errors>
						</div>

						<!-- CvLAC -->
						<div class="form-group">
							<label class="form-label">CvLAC</label>
							<input type="text" class="form-control" formControlName="cvlac_link" placeholder="URL de CvLAC">
							<form-control-errors [control]="cvlac_link"></form-control-errors>
						</div>

						<div>
							<button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
							<button type="button" class="btn btn-danger" routerLink="/users">Volver</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>