<main class="detalle">
  <div class="breadcrumb-class">Está en:<a routerLink="/" target="_self" title="Inicio">Inicio</a>/<span>Perfil</span></div>
  <div *ngIf="user" class="container-fluid main-container">
    <div class="container-fluid">
      <div class="row" [hidden]="showInput">
        <h2>Perfil</h2><br>
        <div class="col-sm-2 col-md-2">
          <img src="{{user.photo ? user.photo.link : 'assets/images/user.png'}}" onerror="this.src='assets/images/user.png';" class="img-rounded img-responsive profile-image" />
        </div>
        <div class="col-sm-5 col-md-5">
          <div class="field">
            <h4>{{ user.full_name }}</h4>
          </div>
          <div class="field">
            {{ user.email }}
          </div>
          <div *ngIf="user.professional_profile" class="field">
            {{ user.professional_profile }}
          </div>
        </div>
        <div class="col-sm-5 col-md-5">
          <div *ngIf="user.phone" class="field">
            {{ user.phone }}
          </div>
          <div class="field" *ngIf="user.user_type == 'profesor'">
            {{ user.office }}
          </div>
          <div *ngIf="user.cvlac_link" class="field">
            {{ user.cvlac_link }}
          </div>
          <div *ngIf="user.career" class="field">
            {{ user.career.degree_type }} {{ user.career.name }}
          </div>
          <div *ngIf="!( auxiliarID | async )" class="btn-group">
            <button type="button" class="btn btn-primary" (click)="toggleShowInput()">Editar</button>
          </div>
        </div>
      </div>
      <div class="row" [hidden]="!showInput">
        <form (ngSubmit)="updateProfile()">
          <div class="col-sm-2 col-md-2">
            <img src="{{user.photo ? user.photo.link : 'assets/images/user.png'}}" onerror="this.src='assets/images/user.png';" class="img-rounded img-responsive profile-image" />
          </div>
          <div class="col-sm-5 col-md-5">
            <div class="row">
              <div class="col-md-6">
                <label for="inputName">Nombres</label>
                <input id="inputName" type="text" class="form-control" required [(ngModel)]="user.name" name="Name" />
              </div>
              <div class="col-md-6">
                <label for="inputLastName">Apellidos</label>
                <input id="inputLastName" type="text" class="form-control" required [(ngModel)]="user.lastname" name="lastname" />
              </div>
            </div>
            <label for="inputProfessionalProfile">Perfil profesional</label>
            <textarea id="inputProfessionalProfile" type="text" class="form-control" required [(ngModel)]="user.professional_profile" name="professional_profile" rows="3"></textarea>
          </div>
          <div class="col-sm-5 col-md-5">
            <label for="inputPhone">Teléfono</label>
            <input id="inputPhone" type="text" class="form-control" placeholder="Teléfono" required [(ngModel)]="user.phone" name="phone" />
            <label *ngIf="user.user_type == 'profesor'" for="inputOffice">Oficina</label>
            <input *ngIf="user.user_type == 'profesor'" id="inputOffice" type="text" class="form-control" placeholder="Oficina" required [(ngModel)]="user.office" name="office" />
            <label for="inputCvLAC">CvLAC link</label>
            <input id="inputCvLAC" type="text" class="form-control" placeholder="CvLAC" required [(ngModel)]="user.cvlac_link" name="cvlac_link" />
            <div id="dependencies-dropdowns" class="row">
              <div id="faculty-dropdown" class="col-md-4">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                  <!--{{ user.faculty ? user.faculty.name : "Facultad" }}-->
                  Facultad
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li *ngFor="let faculty of faculties">
                    <a (click)="setDepartments(faculty.id)">
                      {{ faculty.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <div id="department-dropdown" class="col-md-4">
                <button class="btn btn-primary dropdown-toggle {{ departments.length ? '' : 'disabled'}}" type="button" data-toggle="dropdown">
                  <!--{{ user.department ? user.department.name : "Departamento" }}-->
                  Departamento
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li *ngFor="let department of departments">
                    <a (click)="setCareers(department.id)">
                      {{ department.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <div id="career-dropdown" class=" col-md-4">
                <button class="btn btn-primary dropdown-toggle {{ careers.length ? '' : 'disabled'}}" type="button" data-toggle="dropdown">
                  <!--{{ user.career ? user.career.name : "Carrera" }}-->
                  Carrera
                   <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li *ngFor="let career of careers">
                    <a (click)="careerClicked(career)">
                      {{ career.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <br>
            <div class="btn-group">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-danger" (click)="toggleShowInput()">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="user.research_subjects">
      <div *ngIf="user.research_subjects.length" class="container-fluid main-container">
        <div class="row items-row">
          <div *ngFor="let rs of user.research_subjects" class="col-sm-6 col-md-4 col-lg-3">
            <h2>Temas de interes</h2><br>
            <div class="alert alert-info">
              <a (click)="delete(rs.id)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p>{{ rs.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.research_groups">
      <div *ngIf="user.research_groups.length" class="container-fluid main-container">
        <h2>Grupos de investigación</h2><br>
        <div class="row items-row">
          <div *ngFor="let rg of user.research_groups" class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" routerLink="/">
              <div class="header-bg"></div>
              <div class="avatar">
                <img src="{{user.photo ? user.photo.link : 'assets/images/user.png'}}" alt="" onerror="this.src='assets/images/user.png';" class="img-rounded img-responsive profile-image" />
                <!--img src="{{rg.photo.link}}" alt="" /-->
              </div>
              <div class="content">
                <p><b>{{ rg.name }}</b><br> {{ rg.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.publications">
      <div *ngIf="user.publications.length" class="container-fluid main-container">
        <h2>Publicaciones</h2><br>
        <div class="row items-row">
          <div *ngFor="let pub of user.publications" class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" routerLink="/">
              <div class="header">
                <b>{{ pub.name }}</b>
              </div>
              <div class="content">
                <p>{{ pub.brief_description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.research_subjects">
      <div *ngIf="user.events.length" class="container-fluid main-container">
        <h2>Eventos</h2><br>
        <div class="row items-row">
          <div *ngFor="let ev of user.events" class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" routerLink="/">
              <div class="header">
                <b>{{ ev.topic }}</b>
              </div>
              <div class="content">
                <p>{{ ev.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
