.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    background: -moz-linear-gradient(#eee, #fff);
    background: -webkit-linear-gradient(#eee, #fff);
    background: -o-linear-gradient(#eee, #fff);
    background: linear-gradient(#eee, #fff);
}

.modal-header {
    text-align: center;
}

.active {
    font-size: 25px;
    vertical-align: middle;
}