<main class="detalle" *ngIf="uploadForm">
	<div class="breadcrumb-class">Está en:
		<a routerLink="/" target="_self" title="Inicio">Inicio</a>/
		<a routerLink="/publications" target="_self" title="Inicio">Publicaciones</a>/
		<span>{{ (publicationID | async) ? 'Editar Publicación' :  'Añadir Publicación' }}</span>
	</div>
	<div class="container-fluid">
		<div class="container-fluid main-container">
			<div class="row">
				<div class="col-md-6">
					 <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
             <!-- Name -->
 						<div class="form-group">
 							<label class="form-label">Nombre</label>
 							<input type="text" class="form-control" formControlName="name" placeholder="Nombre">
 							<app-form-control-errors [control]="name"></app-form-control-errors>
 						</div>
            <!-- Date-->
            <div class="form-group">
							<label class="form-label">Fecha</label>
							<input type="text" class="form-control" formControlName="date" placeholder="Fecha">
							<app-form-control-errors [control]="date"></app-form-control-errors>
						</div>
						<!-- abstract -->
            <div class="form-group">
							<label class="form-label">Abstract</label>
							<input type="text" class="form-control" formControlName="abstract" placeholder="Abstract">
							<app-form-control-errors [control]="abstract"></app-form-control-errors>
						</div>
						<!-- brief_description-->
            <div class="form-group">
							<label class="form-label">Descripción</label>
							<input type="text" class="form-control" formControlName="brief_description" placeholder="Descripción">
							<app-form-control-errors [control]="brief_description"></app-form-control-errors>
						</div>
						<!-- type_pub  -->
						<div class="form-group">
							<label class="form-label">Tipo de publicación</label>
							<select class="form-control" formControlName="type_pub">
								<option *ngFor="let t of type_pubs" [ngValue]="t">{{ t }}</option>
							</select>
							<app-form-control-errors [control]="type_pubs"></app-form-control-errors>
						</div>
            <!-- document-->
            <div class="row">
              <div class="col-md-3">
                <input id="document" name="document" type="file" (change)="fileChange($event)"
                accept=".pdf" formControlName="document" class="file"
                data-msg-placeholder="Selecciona un {file} para subir...">
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div>
    							<button type="submit" class="btn btn-primary" [disabled]="uploadForm.invalid">Submit</button>
    							<button type="button" class="btn btn-danger" routerLink="/publications">Volver</button>
    						</div>
              </div>
            </div>

  				</form>
				</div>
			</div>
		</div>
	</div>
</main>

<swal #errSwal title text type="error"></swal>
<swal #sucSwal title type="success"></swal>
