<main class="detalle">
	<div class="jumbotron row">
	    <div class="col-md-6 container">
	        <h1>Bienvenido a IRIS</h1>
	        <div class="row">
	        	<div class="col-md-10">
	        		<p>Aqui podrás encontrar toda la informacion relacionada con los grupos de investigacion de la Universidad Nacional de Colombia</p>
	        		<p>
	        			<button class="btn btn-primary btn-lg" href="#" role="button" disabled="disabled">Mas información</button>
	        			<button class="btn btn-primary btn-lg" routerLink="/login" role="button" >Login</button>
	        		</p>
	        	</div>
	        </div>
        </div>

        <div class="col-md-5 container">
	    	<svg width="100%" height="100%">
                <image xlink:href="../assets/images/IRIS-logo.png" width="110%" height="110%" class="hidden-print"/>
            </svg>
	    </div>
    </div><br>
    
    <div class="container">
        <hr><hr>
        <div class="row">
            <div class="col-md-4">
                <h2>Grupos de Investigación</h2>
                <p>Aqui encontrarás todos los grupos de investigación adscritos a la Universidad Nacional de Colombia</p>
                <p><a class="btn btn-default" href="#" role="button" disabled="disabled">Ver detalles</a></p>
            </div>
            
            <div class="col-md-4">
                <h2>Eventos</h2>
                <p>En esta sección podras ver los eventos recomendados por los grupos de investigación asi como la participacion de grupos de investigacion en estos.</p>
                <p><a class="btn btn-default" href="#" role="button" disabled="disabled">Ver detalles</a></p>
			</div>
			
			<div class="col-md-4">
			          <h2>Noticias</h2>
			          <p>En esta sección podrás ver los hechos mas relevantes que involucran a los grupos de investigacion de la Universidad y sus integrantes.</p>
			          <p><a class="btn btn-default" href="#" disabled="disabled">Ver detalles</a></p>
			        </div>
			      </div>
			
			      <hr><hr>
			    </div>
</main>