<div class="jumbotron">

  <div class="panel panel-default" style="margin-top:10px;">

      <button (click)="switchShowAll()">showAll</button>
      <button (click)="switchSticky()">sticky</button>
      <div *ngIf="isLoaded" style="text-align: center;">
        <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <input type="number" placeholder="page" [(ngModel)]="page">
        <span>/ {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
      </div>

      <pdf-viewer [src]="'assets/1.pdf'"
             [original-size]="true"
             [show-all]="showAll"
             [stick-to-page]="stickToPage"
             [render-text]="false"
             [page]="page"
             (after-load-complete)="afterLoadComplete($event)"
             style="display: block;"
      ></pdf-viewer>
  </div>
</div>
