<main class="detalle">
	<div class="breadcrumb-class">Está en:
		<a routerLink="/" target="_self" title="Inicio">Inicio</a>/
		<a routerLink="/research-list" target="_self" title="Inicio">Lista de grupos de investigación</a>/
		<span>{{ (auxiliarID | async) ? 'Editar grupo de investigación' : 'Añadir grupo de investigación' }}</span>
	</div>
	<div class="container-fluid">
		<div class="container-fluid main-container">
			<div class="row">
				<div class="col-md-6">
					<form [formGroup]="rgForm" (ngSubmit)="onSubmit()">
						<!-- Name -->
						<div class="form-group">
							<label class="form-label">Nombre</label>
							<input type="text" class="form-control" formControlName="name" placeholder="Nombre">
							<app-form-control-errors [control]="name"></app-form-control-errors>
						</div>

						<!-- Description -->
						<div class="form-group">
							<label class="form-label">Descripción</label>
							<input type="text" class="form-control" formControlName="description" placeholder="Descripción">
							<app-form-control-errors [control]="description"></app-form-control-errors>
						</div>

						<!-- Strategic Focus -->
						<div class="form-group">
							<label class="form-label">Enfoque estratégico</label>
							<input type="text" class="form-control" formControlName="strategic_focus" placeholder="Enfoque estratégico">
							<app-form-control-errors [control]="strategic_focus"></app-form-control-errors>
						</div>

						<!-- Research priorities -->
						<div class="form-group">
							<label class="form-label">Prioridades de investigación</label>
							<input type="text" class="form-control" formControlName="research_priorities" placeholder="Prioridades de investigación">
							<app-form-control-errors [control]="research_priorities"></app-form-control-errors>
						</div>

						<!-- Foundation date -->
						<div class="form-group">
							<label class="form-label">Fecha de fundación</label>
							<input type="text" class="form-control" formControlName="foundation_date" placeholder="Fecha de fundación">
							<app-form-control-errors [control]="foundation_date"></app-form-control-errors>
						</div>

						<!-- Classification -->
						<div class="form-group">
							<label class="form-label">Clasificación</label>
							<select class="form-control" formControlName="classification">
								<option *ngFor="let c of classifications" [ngValue]="c">{{ c }}</option>
							</select>
							<app-form-control-errors [control]="classification"></app-form-control-errors>
						</div>

						<!-- Classification date -->
						<div class="form-group">
							<label class="form-label">Fecha de clasificación</label>
							<input type="text" class="form-control" formControlName="date_classification" placeholder="Fecha de clasificación">
							<app-form-control-errors [control]="date_classification"></app-form-control-errors>
						</div>

						<!-- URL -->
						<div class="form-group">
							<label class="form-label">URL</label>
							<input type="text" class="form-control" formControlName="url" placeholder="URL">
							<app-form-control-errors [control]="url"></app-form-control-errors>
						</div>

						<div>
							<button type="submit" class="btn btn-primary" [disabled]="rgForm.invalid">Submit</button>
							<button type="button" class="btn btn-danger" routerLink="/research-list">Volver</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>

<swal #errSwal title text type="error"></swal>
<swal #sucSwal title type="success"></swal>